.dump
id_file
.DS_Store
id_file
.settings
.classpath
.project
target
.springBeans
**.versionsBackup
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties
derby.log
maven-metadata-local.xml
